.imgicon {
    width: 15%;
}

#main {
  background-color: #F6F7EB;
}

.navcolor {
    background: #0F1347!important;
}

#hero h4{
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 30px;
  font-size: 16px;
}

.garamond  {
  font-family: Garamond ;
}


.img-fulllogo {
  max-width: 75%;
  height: auto;
}

.ivory {
  background: #F6F7EB!important;
}

.learningpathcard{
  background-color: #635C51;
}



.benelearningpathcard {
  background-color: #FFA3AC;
}

.black{
  color: black;
}

.celestialblue {
  background: #3498DB!important;
}

.learningpathcard h5{
  font-weight:bolder;
}

.benelearningpathcard h5{
  font-weight:bolder;
}

.walnutbrown {
  background: #635C51!important;
}

.carousel-control-next, .carousel-control-prev{
  width: 5%!important;
}

.testcard h4{
  padding: 1rem;
}

.pagetop {
  margin-top: 3rem!important;
}

.featurette-divider {
  margin: 2rem 0; 
}

.featurette-heading, .lead {
  color: black;
}


@media (min-width: 768px) {
  .learningpathcard div{
    min-height: 250px;
  }

  .testcard {
    min-height: 450px;
  }
}


@media (max-width: 768px) {
  .img-fulllogo {
    max-width: 25%;
    height: auto;
  }
}