.hovertableheader:hover
{
    cursor: pointer;
    color: aqua;
}

.edit-button:hover
{
    color: black;
}

.delete-button:hover
{
    color: black;
}

.bi-arrow-down-up:hover
{
    cursor: pointer;
    color: greenyellow;
}
